In [1]:
import pandas as pd

In [2]:
def header_data_std(Frame):
    cols = []
    for i in range (len(Frame.columns)):
        cols.append(Frame.columns[i].lower().replace(" ","_"))
    return cols

In [3]:
file1 = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')

In [4]:
print(file1.shape)

(10910, 26)

In [5]:
file1.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [6]:
file1.head

<bound method NDFrame.head of        Unnamed: 0 Customer       State  Customer Lifetime Value Response  \
0               0  DK49336     Arizona              4809.216960       No
1               1  KX64629  California              2228.525238       No
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
4               4  QA50777      Oregon              9025.067525       No
...           ...      ...         ...                      ...      ...
10905       10905  FE99816      Nevada             15563.369440       No
10906       10906  KX53892      Oregon              5259.444853       No
10907       10907  TL39050     Arizona             23893.304100       No
10908       10908  WA60547  California             11971.977650       No
10909       10909  IV32877         NaN              6857.519928      NaN

       Coverage Education Effective To Date EmploymentStatus Gender  ...  \
0         Basic   College           2/18/11         Employed      M  ...
1         Basic   College           1/18/11       Unemployed      F  ...
2         Basic  Bachelor           2/10/11         Employed      M  ...
3      Extended   College           1/11/11         Employed      M  ...
4       Premium  Bachelor           1/17/11    Medical Leave      F  ...
...         ...       ...               ...              ...    ...  ...
10905   Premium  Bachelor           1/19/11       Unemployed      F  ...
10906     Basic   College            1/6/11         Employed      F  ...
10907  Extended  Bachelor            2/6/11         Employed      F  ...
10908   Premium   College           2/13/11         Employed      F  ...
10909     Basic  Bachelor            1/8/11       Unemployed      M  ...

       Number of Open Complaints Number of Policies     Policy Type  \
0                            0.0                  9  Corporate Auto
1                            0.0                  1   Personal Auto
2                            0.0                  2   Personal Auto
3                            0.0                  2  Corporate Auto
4                            NaN                  7   Personal Auto
...                          ...                ...             ...
10905                        NaN                  7   Personal Auto
10906                        0.0                  6   Personal Auto
10907                        0.0                  2  Corporate Auto
10908                        4.0                  6   Personal Auto
10909                        0.0                  3   Personal Auto

             Policy  Renew Offer Type  Sales Channel  Total Claim Amount  \
0      Corporate L3            Offer3          Agent          292.800000
1       Personal L3            Offer4    Call Center          744.924331
2       Personal L3            Offer3    Call Center          480.000000
3      Corporate L3            Offer2         Branch          484.013411
4       Personal L2            Offer1         Branch          707.925645
...             ...               ...            ...                 ...
10905   Personal L1            Offer3            Web         1214.400000
10906   Personal L3            Offer2         Branch          273.018929
10907  Corporate L3            Offer1            Web          381.306996
10908   Personal L1            Offer1         Branch          618.288849
10909   Personal L1            Offer4            Web         1021.719397

       Vehicle Class Vehicle Size Vehicle Type
0      Four-Door Car      Medsize          NaN
1      Four-Door Car      Medsize          NaN
2                SUV      Medsize            A
3      Four-Door Car      Medsize            A
4      Four-Door Car      Medsize          NaN
...              ...          ...          ...
10905     Luxury Car      Medsize            A
10906  Four-Door Car      Medsize            A
10907     Luxury SUV      Medsize          NaN
10908            SUV      Medsize            A
10909            SUV      Medsize          NaN

[10910 rows x 26 columns]>

In [7]:
file1.columns = header_data_std(file1)

In [8]:
file1.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [9]:
file1 = file1.rename(columns={ 'unnamed:_0':'index'})

In [10]:
file1.columns

Index(['index', 'customer', 'state', 'customer_lifetime_value', 'response',
       'coverage', 'education', 'effective_to_date', 'employmentstatus',
       'gender', 'income', 'location_code', 'marital_status',
       'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type'],
      dtype='object')

In [11]:
file1.dtypes

index                              int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
dtype: object

income, monthly_premium_auto and total_claim_amount are numerical, the rest are categorical.

In [12]:
data = file1.drop_duplicates()

In [13]:
data.shape

(10910, 26)

In [14]:
null_df = pd.DataFrame(round(data.isna().sum()/len(data),4)*100)
null_df = null_df.reset_index()
null_df.columns = ['header','percentage_nulls']

In [15]:
null_df

                           header  percentage_nulls
0                           index              0.00
1                        customer              0.00
2                           state              5.78
3         customer_lifetime_value              0.00
4                        response              5.78
5                        coverage              0.00
6                       education              0.00
7               effective_to_date              0.00
8                employmentstatus              0.00
9                          gender              0.00
10                         income              0.00
11                  location_code              0.00
12                 marital_status              0.00
13           monthly_premium_auto              0.00
14        months_since_last_claim              5.80
15  months_since_policy_inception              0.00
16      number_of_open_complaints              5.80
17             number_of_policies              0.00
18                    policy_type              0.00
19                         policy              0.00
20               renew_offer_type              0.00
21                  sales_channel              0.00
22             total_claim_amount              0.00
23                  vehicle_class              5.70
24                   vehicle_size              5.70
25                   vehicle_type             50.25

In [16]:
columns_drop = null_df[null_df['percentage_nulls']>6]['header']

In [17]:
print(columns_drop.values)

['vehicle_type']

In [18]:
temp = data.drop(columns_drop,axis=1)

In [19]:
temp.head()

,index,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize

In [20]:
temp['effective_to_date'] = pd.to_datetime(temp['effective_to_date'])

In [21]:
temp.head()

,index,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize

In [22]:
temp.dtypes

index                                     int64
customer                                 object
state                                    object
customer_lifetime_value                 float64
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employmentstatus                         object
gender                                   object
income                                    int64
location_code                            object
marital_status                           object
monthly_premium_auto                      int64
months_since_last_claim                 float64
months_since_policy_inception             int64
number_of_open_complaints               float64
number_of_policies                        int64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim_amount                      float64
vehicle_class                            object
vehicle_size                             object
dtype: object

In [34]:
temp = temp.drop_duplicates()

In [35]:
filtered = temp[temp['income']<=0]

In [36]:
filtered.head()

,index,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
14,14,TL59568,Arizona,12836.009510,No,Premium,High School or Below,2011-02-28,Unemployed,M,...,28,0.0,2,Personal Auto,Personal L2,Offer3,Agent,835.200000,Two-Door Car,Medsize
17,17,TR26615,Oregon,2497.531509,No,Basic,High School or Below,2011-01-17,Unemployed,M,...,74,0.0,1,Corporate Auto,Corporate L2,Offer2,Branch,272.381465,Two-Door Car,Medsize
20,20,OM80593,California,7247.313475,No,Basic,Bachelor,2011-02-23,Unemployed,F,...,58,0.0,7,Personal Auto,Personal L3,Offer1,Call Center,499.200000,SUV,Medsize
24,24,YK32760,Oregon,2502.209885,No,Basic,High School or Below,2011-02-15,Unemployed,M,...,95,1.0,1,Corporate Auto,Corporate L1,Offer1,Agent,355.200000,Four-Door Car,Medsize

In [37]:
filtered.shape

(2787, 25)

In [38]:
months = pd.DatetimeIndex(filtered['effective_to_date']).month

In [39]:
months

Int64Index([1, 2, 1, 2, 2, 1, 2, 2, 1, 1,
            ...
            1, 2, 2, 1, 2, 2, 2, 2, 1, 1],
           dtype='int64', name='effective_to_date', length=2787)

In [40]:
filtered.insert(len(filtered.columns),'month',months)

In [41]:
filtered

,index,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
14,14,TL59568,Arizona,12836.009510,No,Premium,High School or Below,2011-02-28,Unemployed,M,...,0.0,2,Personal Auto,Personal L2,Offer3,Agent,835.200000,Two-Door Car,Medsize,2
17,17,TR26615,Oregon,2497.531509,No,Basic,High School or Below,2011-01-17,Unemployed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer2,Branch,272.381465,Two-Door Car,Medsize,1
20,20,OM80593,California,7247.313475,No,Basic,Bachelor,2011-02-23,Unemployed,F,...,0.0,7,Personal Auto,Personal L3,Offer1,Call Center,499.200000,SUV,Medsize,2
24,24,YK32760,Oregon,2502.209885,No,Basic,High School or Below,2011-02-15,Unemployed,M,...,1.0,1,Corporate Auto,Corporate L1,Offer1,Agent,355.200000,Four-Door Car,Medsize,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10899,10899,WU60905,California,8610.667489,No,Basic,High School or Below,2011-02-06,Unemployed,F,...,0.0,9,Corporate Auto,Corporate L1,Offer3,Web,532.800000,SUV,Medsize,2
10900,10900,VN73653,Oregon,6423.739052,No,Basic,College,2011-02-13,Unemployed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer3,Agent,1621.560425,Luxury SUV,Medsize,2
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,2
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,1
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,1

In [42]:
filtered = filtered[filtered['month'] <= 3]

In [43]:
filtered

,index,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
14,14,TL59568,Arizona,12836.009510,No,Premium,High School or Below,2011-02-28,Unemployed,M,...,0.0,2,Personal Auto,Personal L2,Offer3,Agent,835.200000,Two-Door Car,Medsize,2
17,17,TR26615,Oregon,2497.531509,No,Basic,High School or Below,2011-01-17,Unemployed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer2,Branch,272.381465,Two-Door Car,Medsize,1
20,20,OM80593,California,7247.313475,No,Basic,Bachelor,2011-02-23,Unemployed,F,...,0.0,7,Personal Auto,Personal L3,Offer1,Call Center,499.200000,SUV,Medsize,2
24,24,YK32760,Oregon,2502.209885,No,Basic,High School or Below,2011-02-15,Unemployed,M,...,1.0,1,Corporate Auto,Corporate L1,Offer1,Agent,355.200000,Four-Door Car,Medsize,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10899,10899,WU60905,California,8610.667489,No,Basic,High School or Below,2011-02-06,Unemployed,F,...,0.0,9,Corporate Auto,Corporate L1,Offer3,Web,532.800000,SUV,Medsize,2
10900,10900,VN73653,Oregon,6423.739052,No,Basic,College,2011-02-13,Unemployed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer3,Agent,1621.560425,Luxury SUV,Medsize,2
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,2
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,1
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,2011-01-08,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,1